body {
    width: 1350px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.top{
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(255, 255, 255, 0.979);
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}

.PintLogo{
    display: inline-block;
    font-style: oblique;
    color: aqua;
    
}


.home>button{
    display: inline-block;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    padding: 5px 6px;
}

.home>a>button{
    display: inline-block;
    background-color: black;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    padding: 5px 6px;
}

.barra_busqueda{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barra_busqueda>input{
    display: inline-block;
    border-radius: 25px;
    padding: 7px 45px;
    width: 90%;
    background-color: whitesmoke;
    flex-direction: row;
}


.IconosIzquierda{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}


:root {
    --Card_width: 250px;
    --Row_increment: 10px;
    --Card_border_radius: 16px;
    --S3: 20;
    --S2: 38;
    --S1: 55;
}

.ImagesContainer{
margin: 75px 0 0 0;
padding: 0;
width: 100%;
height: 100%;

display: grid;
/* grid-auto-columns: 0.33fr 0.33fr 0.33fr; */
grid-template-columns: repeat(auto-fill, var(--Card_width));
/* grid auto colums creará columnas automáticas en función de nuestros items y sus pixeles  */
grid-auto-rows:var(--Row_increment);
/* grid-auto-rows: var(--Row_increment); */
justify-content: center;


background-color: rgb(255, 255, 255);
}

.Card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--Card_border_radius);
    background-color: white;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center; */
}

.Card img:hover {
    opacity: 0.5 ;

}

.CardIcon i:hover {
    opacity: 0.5 ;
}

.S1{
    grid-row-end: span var(--S1);
}


.S2{
    grid-row-end: span var(--S2);
    }

    
.S3{
    grid-row-end: span var(--S3);
    }


